Repository JonissonGomes/fiap-prova-sub-fase-4: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-core, pytest-sales

pytest-core:
  name: pytest core-service
  entry: pytest
  language: system
  pass_filenames: false
  args:
  - --cov=app
  - --cov-fail-under=80
  additional_dependencies:
  - pytest
  - pytest-cov

pytest-sales:
  name: pytest sales-service
  entry: pytest
  language: system
  pass_filenames: false
  args:
  - --cov=app
  - --cov-fail-under=80
  additional_dependencies:
  - pytest
  - pytest-cov

feat: Implementar webhook de pagamento
  sales-service/app/controllers/sale_controller.py
Due: pytest-sales

refactor: Alterar método de atualização de status de pagamento para usar ID da venda em vez de código de pagamento
  sales-service/app/services/sale_service_impl.py
Due: pytest-sales

test: Adicionar teste assíncrono para atualização de status de pagamento com sucesso
  sales-service/tests/test_sale_service_impl.py
Due: pytest-sales

test: Adicionar testes assíncronos para webhook de pagamento, incluindo casos de sucesso e erros
  sales-service/tests/test_sale_controller_errors.py
Due: pytest-sales

feat: Adicionar especificações OpenAPI para os serviços de Core, Pagamento e Vendas
  core-service/app/adapters/api/openapi.json
  payment-service/app/adapters/api/openapi.json
  sales-service/app/adapters/api/openapi.json
Due: none

docs: Atualizar README.md com instruções detalhadas para testar a API usando Swagger UI, ReDoc e curl, além de informações sobre a documentação dos serviços
  README.md
Due: none

feat: Implementar serviço de vendas com FastAPI e CORS, além de refatorar controlador de vendas e testes associados
  sales-service/app/controllers/sale_controller.py
  sales-service/app/main.py
  sales-service/tests/test_sale_controller.py
  sales-service/tests/test_sale_schema.py
Due: pytest-sales

refactor: Renomear campo 'customer_cpf' para 'buyer_cpf' na especificação OpenAPI do serviço de vendas
  sales-service/app/adapters/api/openapi.json
Due: none

refactor: Remover campos desnecessários da classe SaleUpdate no esquema de vendas
  sales-service/app/schemas/sale_schema.py
Due: pytest-sales

chore: Adicionar 'node_modules/' ao .gitignore para evitar o versionamento de dependências do Node.js
  .gitignore
Due: none

feat: Criando estrutura do frontend com React, incluindo configuração de rotas, componentes e serviços de API
  frontend/.env
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/index.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Payments.tsx
  frontend/src/pages/Sales.tsx
  frontend/src/pages/Vehicles.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/services/api.ts
  frontend/src/services/vehicleService.ts
  frontend/src/types/index.ts
  frontend/src/types/payment.ts
  frontend/src/types/sale.ts
  frontend/src/types/vehicle.ts
  frontend/tsconfig.json
Due: none

docs: Atualizando visão geral do README.md
  README.md
Due: none

docs: Inserindo arquitetura do frontend ao README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

docs: Atualizar README.md com síntese das estruturas dos serviços, incluindo detalhes sobre o sistema de vendas de veículos, arquitetura, pré-requisitos e instruções de execução.
  README.md
Due: none

Removing unecessary code
  .env.example
  core-service/README.md
  sales-service/.env
  sales-service/.env.example
  vehicle-service/README.md
Due: none

docs: Atualizando documentação
  README.md
Due: none

feat: Atualizar a exibição de status em Payments, Sales e Vehicles para incluir data de atualização e aumentar a largura das colunas
  frontend/src/pages/Payments.tsx
  frontend/src/pages/Sales.tsx
  frontend/src/pages/Vehicles.tsx
Due: none

feat: Atualizar lógica de venda de veículos para permitir a venda de veículos reservados e aprimorar mensagens de erro
  core-service/app/adapters/api/endpoints.py
  core-service/app/domain/vehicle.py
  core-service/tests/test_vehicle.py
Due: pytest-core

feat: Refatorar configuração da API de vendas para incluir documentação Swagger e ajustar rotas com base nas novas especificações
  sales-service/app/adapters/api/openapi.json
  sales-service/app/main.py
Due: pytest-sales

feat: Adicionar arquivo de configuração .env para o serviço de vendas, incluindo configurações do MongoDB e portas do serviço
  sales-service/.env
Due: none

Path conditions:
  pytest-core: any of: ^core-service/ and \.py$
  pytest-sales: any of: ^sales-service/ and \.py$
