Repository JonissonGomes/fiap-prova-sub-fase-4: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-core, pytest-sales

pytest-core:
  name: pytest core-service
  entry: pytest
  language: system
  pass_filenames: false
  args:
  - --cov=app
  - --cov-fail-under=80
  additional_dependencies:
  - pytest
  - pytest-cov

pytest-sales:
  name: pytest sales-service
  entry: pytest
  language: system
  pass_filenames: false
  args:
  - --cov=app
  - --cov-fail-under=80
  additional_dependencies:
  - pytest
  - pytest-cov

fix: Ajustando validação e inserindo mudança de status via enum
  core-service/app/domain/vehicle.py
Due: pytest-core

test: Implementing new use cases
  core-service/tests/test_vehicle.py
Due: pytest-core

chore: Removendo stage do CI/CD
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

test: Adicionando novos testes
  core-service/tests/test_vehicle_additional.py
Due: pytest-core

fix: Centralizando ci-cd
  core-service/.github/workflows/cd.yml
  core-service/.github/workflows/ci-cd.yml
Due: none

fix: Removendo dependência
  core-service/requirements.txt
Due: none

feat: Implementando testes referente ao domínio
  core-service/tests/test_vehicle_service_domain.py
Due: pytest-core

chore: Adicionando dependencia
  core-service/requirements.txt
Due: none

infra: Ajustando pipelinas do Git Action
  core-service/.github/ci-cd.yml
  core-service/.github/workflows/cd.yml
Due: none

feat: Inicializa estrutura base do módulo do app
  sales-service/app/__init__.py
Due: pytest-sales

feat: Implementando modelo de domínio Sale
  sales-service/app/domain/sale.py
  sales-service/app/domain/sale_schema.py
Due: pytest-sales

feat: Definindo as interfaces do serviço
  sales-service/app/ports/sale_repository.py
  sales-service/app/ports/sale_service.py
Due: pytest-sales

feat: Implementando repositório do MongoDB
  sales-service/app/adapters/api/__init__.py
  sales-service/app/adapters/mongodb_sale_repository.py
Due: pytest-sales

Implementando serviço de vendas
  sales-service/app/services/__init__.py
  sales-service/app/services/sale_service.py
  sales-service/app/services/sale_service_impl.py
Due: pytest-sales

feat: Implementando endpoints da API de vendas
  sales-service/app/controllers/__init__.py
  sales-service/app/controllers/sale_controller.py
Due: pytest-sales

feat: Configurando a conexão com MongoDB
  sales-service/app/infrastructure/mongodb_config.py
Due: pytest-sales

feat: Configurando containers
  sales-service/Dockerfile.dev
Due: none

feat: Configurando dependências
  sales-service/requirements-dev.txt
  sales-service/requirements.txt
Due: none

feat: Adicionando configuração de dependências
  sales-service/setup.py
Due: pytest-sales

feat: Implementando schema para os dados de vendas
  sales-service/app/schemas/sale_schema.py
Due: pytest-sales

[feat] - Adicionando tratamento para erro de vendas não encontradas
  sales-service/app/exceptions.py
Due: pytest-sales

test: Adicionando testes de conexão
  sales-service/tests/conftest.py
Due: pytest-sales

feat: Implementando configuração para inicializar o projeto via Docker
  sales-service/Dockerfile
  sales-service/docker-compose.yml
Due: none

feat: Implementando arquivo de inicialização da aplicação
  sales-service/app/main.py
Due: pytest-sales

feat: Adicionando exemplos do .env de teste e da aplicação
  sales-service/.env.example
  sales-service/.env.test
Due: none

fix: Adjustando comando de execução para mostrar os logs
  Makefile
Due: none

feat: Implementando pipelines de CI/CD
  sales-service/.github/workflows/ci-cd.yml
Due: none

fix: Removend CI/CD isolados
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: Ajustando módulo para funcionar de modo assincrono
  sales-service/tests/conftest.py
Due: pytest-sales

chore: Atualizando a imagem base do Docker para Python 3.11 e ajustando as dependências no requirements.txt
  sales-service/Dockerfile
  sales-service/Dockerfile.dev
  sales-service/requirements.txt
Due: none

chore: Ajustando dependência pymongo no requirements.txt
  sales-service/requirements.txt
Due: none

chore: Atualizando Dockerfile e setup.py para melhor organização e instalação de dependências
  sales-service/Dockerfile
  sales-service/Dockerfile.dev
  sales-service/setup.py
Due: pytest-sales

feat: Ajustando schemas de venda e veículo com melhorias na estrutura e validação
  sales-service/app/schemas/sale_schema.py
  sales-service/app/schemas/vehicle_schema.py
Due: pytest-sales

chore: Substituindo workflow de CI/CD por um novo arquivo com melhorias na estrutura e configuração
  sales-service/.github/ci-cd.yml
  sales-service/.github/workflows/ci-cd.yml
Due: none

refactor: Atualizando o schema de venda para utilizar a configuração ORM do Pydantic, melhorando a integração com o banco de dados
  sales-service/app/schemas/sale_schema.py
Due: pytest-sales

chore: Atualizando configuração do Docker e requisitos, removendo o serviço de teste e adicionando testes unitários para o schema de venda
  sales-service/Dockerfile.dev
  sales-service/docker-compose.yml
  sales-service/requirements.txt
  sales-service/tests/test_sale.py
Due: pytest-sales

chore: Refatorando docker-compose e Makefile para simplificar a configuração dos serviços e melhorar a organização dos comandos
  Makefile
  docker-compose.yml
Due: none

feat: Adicionando configuração do ambiente e estrutura inicial do serviço de vendas com FastAPI e MongoDB
  sales-service/.env
  sales-service/.env.example
  sales-service/Dockerfile
  sales-service/Dockerfile.dev
  sales-service/README.md
  sales-service/app/adapters/api/main.py
  sales-service/app/infrastructure/mongodb_config.py
Due: pytest-sales

chore: Atualizando a URL de conexão do MongoDB no arquivo de configuração do ambiente
  sales-service/.env
Due: none

Path conditions:
  pytest-core: any of: ^core-service/ and \.py$
  pytest-sales: any of: ^sales-service/ and \.py$
